body {
    margin: 0;
    padding: 0;
}

.container {
    border: 6px solid black;
    display: flex;
    /* display: inline-flex; */
    /* flex-direction: row; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */

    /* height: 400px; */
    /* flex-wrap: wrap; */
    /* flex-wrap: no-wrap; */
    /* flex-wrap: wrap-reverse; */

    /* flex-flow: row-reverse wrap; */
    /* flex-flow: column-reverse wrap-reverse; */

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */

    /* height: 800px; */
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: baseline; */

    /* height: 880px; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: center; */
    /* align-content: stretch; */
    /* align-content: space-between; */
    /* align-content: space-around; */
}

.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.item-1 {
    background-color: #B4Bf35;
    /* for align-items test */
    /* padding-bottom: 3rem; */
}

.item-2 {
    background-color: #B95F21;
    /* for align-items test */
    /* padding-bottom: 10rem; */
}

.item-3 {
    background-color: #1C4C56;
    /* for align-items test */
    /* font-size: 3rem; */
}

.item-4 {
    background-color: #CFB276;
}

.item-5 {
    background-color: #6B0803;
}

.item-6 {
    background-color: #1C4C56;
    /* flex-grow: 3; */
}

.item-7 {
    background-color: #B95F21;
    /* flex-grow: 1; */
}

.item-8 {
    background-color: #01234A;
}

.item-9 {
    background-color: #AAD041;
}
